*~

.DS_Store
.project
.settings
.idea/

# default build directory used by the Makefile
build/bin/

# gerrit git hooks
.githooks/commit-msg

# generated documentation
docs/generated

scripts/cbm_timeline/.mypy_cache/
__pycache__/
